# Data & models (ignore raw data, but keep artifacts)
data/
datasets/
models/
checkpoints/
data_raw/

# Ignore large file types globally...
*.pt
*.h5
*.sav
*.joblib
*.csv
*.parquet
*.pkl

# ...BUT keep all artifacts tracked
!artifacts/
!artifacts/*.pkl
!artifacts/*.csv
!artifacts/*.parquet
!artifacts/*.json
