fastapi
uvicorn[standard]
pydantic
streamlit
streamlit-option-menu
streamlit-autorefresh
pandas
numpy
scikit-learn==1.7.2
joblib
matplotlib
plotly
requests
shap
lightgbm
pyarrow
python-dateutil
